@use "./colors";

$vhCalc: (
    "heightOfHeader": 8rem,
    "paddingOfBody": 4rem,
);

$box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);

$font-family: "Open Sans", sans-serif;

$gradient: linear-gradient(to bottom right, map-get(colors.$baseColors, "background"),30%, map-get(colors.$baseColors,"backgroundDark"));

$sectionWidth: 40% 60%;