@use "../../abstracts/vars";
@use "../../abstracts/colors";
@use "../../abstracts/animations";
@use "../../abstracts/mixins";
.header{
    background: map-get(colors.$baseColors, "whiteColor");
    height:map-get(vars.$vhCalc, "heightOfHeader");
    max-width: 150rem;
    font-family: 'Amatic SC', cursive;
    padding:2rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));


    &__logo{
        display: flex;
        font-size: 300%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: 400;
        justify-content: center;
        grid-column-start: 2;
    }
}