@use "../abstracts/vars";

@mixin afterStyle{
    content: "";
    width: 100%;
    height: 3%;
    background: vars.$gradient;
    border: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

@mixin blur{
    filter: blur(20px);
}